extends layout

block content  
  
  h1= title
  div(class='d-flex justify-content-sm-end')
   a(class="btn btn-secondary" href="/luggage/create" ) Create

  - let image_names = results
    table(class="table table-dark table-striped")
        thead
            tr 
                th(scope="col") Luggage Type 
                th(scope="col") Size 
                th(scope="col") Pirce
                th(scope="col") Actions
        tbody        
             each result in results
                tr
                    td  #{result.luggage_type} 
                    td  #{result.size}
                    td  #{result.cost}
                    td  
                      a(href='/luggage/delete/?id='+result._id) Delete 
                      a(href='/luggage/detail/?id='+result._id) View 
                      a(href='/luggage/update/?id='+result._id) Update 
            
  
  